body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-image: url('Numbers03.jpg');
    background-size: cover;
    background-position: center;
}

.box {
    background-color: rgb(148, 146, 225);
    position: absolute;
    z-index: 1;
    width: 630px;
    height: 150px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin-top: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

#box-position-1 {
    
    margin: 650px 100px 100px 100px;
    
}
#box-position-2 {
    margin: 1050px 100px 100px 100px;
    
}
#box-position-3 {
    margin: 1450px 100px 100px 100px;

}
#container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    align-items:center;
    position: relative;
    width: 500px;
    height: 180px;
    background-image: url('Numbers02.jpg');
    background-size: cover;
    border-bottom: 650px solid #edeaf8;
    border-radius: 10px;
    z-index: 1;
    margin: 100px 100px 100px 100px;
    padding: 100px
}
h1{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 34px;
}
h2{ 
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: rgb(43, 42, 42);
    margin: 10px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
}
#input-section {
    width:  150px; 
    height: 110px; 
    border: 3px solid  rgb(255, 255, 255); /* Adds a border */
    border-radius: 3px; /* Rounds the corners */
    padding: 30px 20px 30px 30px; /* Adds inner spacing */
    color: rgb(255, 255, 255); /* Text color */
    background-color: rgb(148, 146, 225);
    margin: 10px; /* Adds space outside the input */
    font-style: normal; /* Normal font style */
    font-weight: bold; /* Bold text */
    font-family: 'Inter', sans-serif; /* Font family */
    font-size: 70px; /* Reasonable font size */
    box-sizing: border-box; /* Ensures padding and border are included in width/height */
    -moz-appearance: textfield; /* For Firefox */
    
}

/* .button-convert{
    transform: scale(16);
} */

/* For Chrome, Safari, Edge, and Opera */
#input-section::-webkit-outer-spin-button,
#input-section::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#convert-button {
    position: relative; /* or absolute/fixed as needed */
    z-index: 10;  /* a higher number so it's on top */
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 10px;
    padding: 15px 20px;
    width: 150px;
    height: 200px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}

#convert-button:focus, :hover {
    background-color: #c8bcf6;
    border-color: #bc58ea;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);

}

#box-position-1, #box-position-2, #box-position-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
    margin-bottom: 10px;
} 

#container-details-1 {
    font-style: normal;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}
#container-details-2 {
    font-style: normal;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    margin-top: 20px;

}
#container-details-3 {
    font-style: normal;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    margin-top: 20px;

}